<div class="text-center mb-8">
   <h1 class="heading-1"><%= t('.sign_up') %></h1>
</div>

<%= simple_form_for @user, url: user_registration_path do |f| %>

   <div class="flex gap-2">
      <%= f.input :name %>
      <%= f.input :email %>
   </div>

   <%= f.input :password %>
   <%= f.input :password_confirmation %>

   <%= f.button :button, t('links.sign_up') %>

<% end %>