<% if @skills.empty? %>
   <h2><%= t('.no_skills') %></h2>
<% end %>

<% @skills.each do |skill| %>
   <div class="flex flex-col justify-center items-center gap-2">
      <img src="<%= url_for(skill.icon) %>" alt="<%= skill.name %>" class="w-10 h-10">
      <h3><%= skill.name %></h3>
      <p><%= skill.description %></p>
      <p><%= skill.proficiency %></p>

      <% skill.tags.each do |tag| %><span class="badge">tags: <%= tag.name %></span><% end %>
   </div>
<% end %>