<div id="projects" class="w-full max-w-7xl px-2 md:px-4 mt-10">

   <div class="flex flex-col items-center gap-2 mb-10">
      <span class="text-[10px] font-mono tracking-[0.8em] text-white/30 uppercase">
         <%= t('.selected') %>
      </span>

      <h1 class="text-6xl md:text-8xl flex items-center gap-6">
         <span><%= t('.title') %></span>
         <div class="w-12 h-0.5 bg-primary"></div>
      </h1>

      <p class="subheadline md:text-base max-w-lg text-center font-medium uppercase tracking-widest">
         <%= t('.subtitle') %>
      </p>

      <%= rc 'group/filters', model: Project, filters: Project.categories %>
   </div>

   <div class="responsive-grid">
      <%= render partial: 'projects/partials/project', collection: @projects, as: :project %>
   </div>

</div>