<div id="projects" class="mt-10 flex w-full max-w-7xl min-w-0 flex-col px-4">

   <div class="flex flex-col items-center gap-2 mb-10">
      <span class="text-[10px] font-mono tracking-[0.8em] text-white/30 uppercase"><%= t('.selected') %></span>
      <h1 class="text-6xl md:text-8xl flex items-center gap-6">
         <span><%= t('.title') %></span>
         <div class="w-12 h-0.5 bg-primary"></div>
      </h1>
      <p class="text-sm md:text-base text-white/40 max-w-lg text-center font-medium leading-relaxed uppercase tracking-widest">
         <%= t('.subtitle') %>
      </p>
      <%= rc 'group/filters', model: Project, filters: Project.categories %>
   </div>

   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
      <%= render partial: 'projects/partials/project', collection: @projects, as: :project %>
   </div>

</div>