<%= turbo_frame_tag "views_chart", class: "block w-full min-w-0" do %>
   <header class="flex items-end justify-between mb-4">
      <div class="flex flex-col">
         <h3 class="text-xl font-black text-white uppercase tracking-tight">
            Views
         </h3>

         <span class="text-[10px] font-mono text-white/20 uppercase tracking-widest">
            <%= @period_in_days %>-day monitoring period
         </span>
      </div>

      <%= form_with url: users_dashboard_views_chart_path, method: :get do |f| %>
         <%= f.select :period,
            [
               ['Last 7 days', '7'],
               ['Last 30 days', '30']
            ],
            { selected: params[:period] },
            {
               onchange: "this.form.requestSubmit()",
               class: "bg-white/5 border border-white/10 rounded-lg text-[10px] text-content font-bold uppercase tracking-widest py-1.5 px-3 focus:outline-none"
            }
         %>
      <% end %>
   </header>

   <div class="w-full h-72">
      <%= line_chart @visits_over_time, id: 'visits_by_day' %>
   </div>
<% end %>