<div class="text-center mb-8">
   <h1 class="heading-1"><%= t('links.reset_password') %></h1>
</div>

<%= simple_form_for @user, url: user_password_path, html: { method: :put } do |f| %>

   <%= f.hidden_field :reset_password_token %>
   <%= f.input :email %>

   <%= f.input :password %>
   <%= f.input :password_confirmation %>

   <%= f.button :submit, t('links.reset_password') %>

<% end %>