<li
   id="skill-<%= skill.id %>"
   class="
      glass-panel
      group
      flex h-full flex-col
      rounded-3xl p-8
      transition-transform duration-300
      hover:scale-105 hover:border-primary
   "
>
   <div class="mb-8 flex items-start justify-between">
      <div class="glass-panel flex h-12 w-12 items-center justify-center rounded-xl border-content/1">
         <%= image_tag url_for(skill.icon), alt: skill.name, class: "object-contain p-2" %>
      </div>

      <div class="glass-panel rounded-md border-primary/20 px-3 py-1.5 font-mono text-[10px] font-bold tracking-tighter text-primary">
         <%= "#{skill.proficiency}%" %>
      </div>
   </div>

   <div class="flex-1">
      <h3 class="mb-3 text-xl tracking-tight transition-colors group-hover:text-primary">
         <%= skill.name %>
      </h3>

      <p class="text-xs font-medium leading-relaxed text-content/40">
         <%= skill.short_description %>
      </p>
   </div>

   <div class="mt-8 flex items-center justify-between border-t border-content/5 pt-6">
      <span class="font-mono text-[9px] uppercase tracking-[0.2em] text-content/20">
         <%= skill.category %>
      </span>

      <i class="fa-solid fa-arrow-up-right-from-square text-content/10 group-hover:text-primary"></i>
   </div>
</li>
